*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: fit-content;
    font-family: sans-serif;
}
.top{
    height: 50vh;
    /* border: solid 10px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("https://t4.ftcdn.net/jpg/02/66/19/63/360_F_266196371_oqttLZeBtdpgGhfbXGpOCfRHF9X3De5s.jpg");
    background-size: cover;
    background-color:#277aaa4e;
    background-blend-mode: screen;
}
h1{
    font-size: 50px;
    letter-spacing: 10px;
    color: white;
    font-weight:600;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
    margin: 10px;
}
#start,#end,#text{
    height: 20px;
    border: #7241d5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    /* margin: 10px; */
    font-size: 15px;
    font-weight: 700;
    background-color: #7241d5;
    color: white;
}
#input{
    width: 30%;
    height: 40px;
    border-radius: 20px;
    /* background-color: #7241d5; */
    padding-left: 10px;
    font-size: large;
    margin: 10px;
}
#totalcounreies,#count{
    font-size: 15px;
    font-weight: 800;
    color: white;
}
#bottom{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
#card{
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding:6px; */
    flex-wrap: wrap;
    border: 2px solid;
    margin: 20px 30px;
    /* background: url("https://img.freepik.com/premium-photo/world-map-blue-background_590041-79.jpg?w=2000"); */
    background: url("https://media.istockphoto.com/id/1279773003/vector/world-map-in-blue-globe-symbol-in-flat-design-planet-silhouette-earth-with-continents-on.jpg?s=612x612&w=0&k=20&c=f-STW3qz7sLS_OU8Y9pD53xFeDKl10ILTAiTHOCU3yc=");
    background-size: cover;
    background-color: #8282e1b2;
    background-blend-mode: saturation;
    font-size: large;
    font-weight: 900;
    color: white;

}